@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>GitHub <a href="https://github.com/FelipeDS98/Hospital">Sistema de Hospitalización</a>.</p>
</div>
